.DS_Store
.idea/
Thumbs.db
temp/*

yarn.lock
/node_modules
.build/

# Ignore internal todo-list
.todo.md

# Ignore various environment files in root directory
.env
.testing
.production
.locale
.development
